<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">
            Time4U
        </div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <div class="alert alert-danger alter-dismissible fade show message-div" role="alert" style="margin-left: 5px; margin-right: 5px;">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% else %}
                        <div class="alert alert-success alter-dismissible fade show message-div" role="alert" style="margin-left: 5px; margin-right: 5px;">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endif %}
                {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="wrapper">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div class="footer">
        <h5 class="footer-h5">&copy; 2021 t4u by BAKS</h5>
    </div>
    <script type="text/javascript"
    src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>