{% extends "base.html" %}
{% block title %}
    Edit {{user.login}}
{% endblock %}
{% block content %}
<div class="edit-user-wrapper">
    <div class="edit-user-container">
        <form action="" method="post" id="editAccountForm"></form>
            <div class="header">
                <h1>Welcome {{user.login}}!</h1>
            </div>
            <div class="email">
                <h3>Email:</h3>
                <h4>{{user.email}}</h4>
            </div>
            <div class="login">
                <h3>Login:</h3>
                <h4>{{user.login}}</h4>
            </div>
            <div class="date-created">
                <h3>Account created:</h3>
                <h4>{{user.date_created}}</h4>
            </div>
            <div class="date-used">
                <h3>Last login:</h3>
                <h4>{{user.last_time_active}}</h4>
            </div>
            <div class="password">
                <button onclick="showChangePassPopUp()">Change Password</button>
            </div>
            <div class="change-password-popup" id="changePassPopup">
                <form action="" method="POST" class="changepassword-form">
                    <div class="change-close-btn">
                        <label for="" class="close-btn fas fa-times" id="change-close-btn" onclick="hideChangePassPopUp()"></label>
                    </div>
                    <h1>Change password</h1>
                    <div class="changepass-group">
                        <input type="password" name="currpassword" id="currpassword" placeholder="Current password">
                    </div>
                    <div class="changepass-group">
                        <input type="password" name="password1" id="password1" placeholder="New password">
                    </div>
                    <div class="changepass-group">
                        <input type="password"  name="password2" id="password2" placeholder="Confirm new password">
                    </div>
                    <div class="changepass-group">
                        <button class="btn" type="submit">Change password</button>
                    </div>
                </form>
            </div>
        </form>
    </div>
</div>
{% endblock %}