{% extends "base.html" %}
{% block title %}
    Guide
{% endblock %}
{% block content %}
<div class="guide-wrapper">
    <h1>Welcome {{user.login}}!</h1>
    <h2>This is a simple guide about how to use time4you!</h2>

    <div class="steps step-1">
        <h3>1. Registration and Login</h3>
        <p>Registration is simple same as Login, I am pretty sure you will handle it!</p>
        <img src="static/guide_1.png" alt="">
    </div>

    <div class="steps step-2">
        <h3>2. Overall view</h3>
        <p>Once you are authenticated you should see such a view:</p>
        <img src="static/guide_2.png" alt="">
        <p>Nice! There is a message that tells you about success or error.</p>
        <h4>Let's focus on interface</h4>
        <p>On the left side is located 'sidebar' which helps you to filter your tasks or in the future run your calendar.</p>
        <p>In the center is main part of app, container for Tasks. You can see there all details and edit tasks.</p>
        <p>If you scroll to the bottom you will probably see footer with some links and 'Edit Account' on the left side at the end of sidebar</p>
        <img src="static/guide_3.png" alt="">
    </div>

    <div class="steps step-3">
        <h3>3. Adding and editing tasks</h3>
        <p>In the main UI you can see and click the following button:</p>
        <img src="static/guide_4.png" alt="">
        <img src="static/guide_5.png" alt="">
        <p>Once you fill up all fields and click 'Add' button you should see your task!</p>
        <img src="static/guide_6.png" alt="">
        <p>Now you can edit your task in the same way you added it. Just click 'Edit' button on your task</p>
        <img src="static/guide_7.png" alt="">
        <p>Ready, now your task is modified!</p>
        <img src="static/guide_8.png" alt="">
    </div>

    <div class="steps step-4">
        <h3>4. Everything for now!</h3>
        <h4>This is the main functionality of app, my future plans are about creating calendar or just simple time scheduler</h4>
    </div>
</div>
{% endblock %}