{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="content-wrapper">
            <div class="sidebar">
                sidebar
            </div>
            <div class="main-container">
                content
            </div>
        </div>
    {% else %}
        <div class="register-container">
            <form method="POST"  class="register-form">
                
            </form>
        </div>
    {% endif %}
{% endblock %}