{% extends "base.html" %}
{% block title %}
    {% if user.is_authenticated %}
        Welcome, {{user.login}}!
    {% else %}
        Join Us!
    {% endif %}
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="user-wrapper">
        <div class="sidebar-container">
            <header class="sidebar-header">
                Time4U
            </header>
            <ul>
                <li>
                    <a href="/">
                        <i class="fas fa-qrcode"></i>
                        All tasks
                    </a>
                </li>
                <li>
                    <a href="/condition/1">
                        <i class="fas fa-qrcode"></i>
                        Expired soon
                    </a>
                </li>
                <li>
                    <a href="/condition/2">
                        <i class="fas fa-qrcode"></i>
                        Highest priority
                    </a>
                </li>
                <li>
                    <a href="/condition/3">
                        <i class="fas fa-qrcode"></i>
                        Done
                    </a>
                </li>
                <li>
                    <a href="/condition/4">
                        <i class="fas fa-qrcode"></i>
                        In Development
                    </a>
                </li>
                <li>
                    <a href="/condition/5">
                        <i class="fas fa-qrcode"></i>
                        To Do
                    </a>
                </li>
                <li>
                    <a href="/calendar">
                        <i class="fas fa-qrcode"></i>
                        Calendar
                    </a>
                </li>
            </ul>
            <header class="sidebar-header" id="edit-header">
                <a href="/editaccount" style="text-decoration: none; color:white;">Edit Account</a>
            </header>
        </div>

        <div class="content-container">
            <div class="header">
                <div class="add-container">
                    <button onclick="showPopup()" id="add-task-button">Add Task</button>
                </div>
                <div class="popup" id="popup">
                    <div class="form">
                        <label for="" class="close-btn fas fa-times" id="popup-close-btn" onclick="hidePopup()"></label>
                        <h2>Add Task</h2>
                        <form action="" method="POST">
                            <div class="form-element">
                                <input type="text" id="title" name="title" placeholder="Task title">
                            </div>
                            <div class="form-element">
                                <input name="priority" id="priority" list="browser2" placeholder="Specify priority">
                                <datalist id="browser2">
                                    <option value="Important">
                                    <option value="Crucial">
                                    <option value="Low priority">
                                    <option value="Normal priority">
                                    <option value="ASAP">
                                </datalist>
                            </div>
                            <div class="form-element">
                                <input type="text" id="subject" name="subject" placeholder="Subject">
                            </div>
                            <div class="form-element">
                                <textarea id="content" name="content" cols="30" rows="10" placeholder="Describe task"></textarea>
                            </div>
                            <div class="form-element">
                                <input type="date" id="date-expired" name="date-expired" placeholder="Date expired">
                            </div>
                            <div class="form-element">
                                <button type="submit" class="submit-btn">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="search-container">

                </div>
            </div>

            <div class="tasks">
                {% for task in tasks %}
                    <div class="single-task-container">
                        <div class="title">
                            {{task.title}}
                        </div>
                        <div class="priority">
                            {{task.priority}}
                        </div>
                        <div class="subject">
                            {{task.subject}}
                        </div>
                        <div class="content">
                            {{task.content}}
                        </div>
                        <div class="content">
                            {{task.status}}
                        </div>
                        <div class="date-expired">
                            {{task.date_expired}}
                        </div>
                        <div class="edit-btn">
                            <button onclick="showEditTask('{{ task.id}}')" id="edit-task-button">Edit Task</button>
                        </div>
                    </div>

                    <div class="edit-task-container" id="edit-task-container-{{task.id}}">
                        <form action="" method="POST" class="edit-form">
                            <label for="" class="close-btn fas fa-times" id="edit-close-btn" onclick="hideEditTask('{{ task.id}}')"></label>
                            <h2>Edit task</h2>
                            <div class="title">
                                {{task.title}}
                            </div>
                            <div class="task-id" style="display: none;">
                                <input id="edit_id" name="edit_id" type="text" value="{{ task.id }}">
                            </div>
                            <div class="priority">
                                {{task.priority}}
                            </div>
                            <div class="subject">
                                {{task.subject}}
                            </div>
                            <div class="form-element">
                                <textarea id="edit_content" name="edit_content" cols="30" rows="10" placeholder="{{ task.content }}"></textarea>
                            </div>
                            <div class="status">
                                <input name="status" id="status" list="browser" value="{{task.status}}">
                                <datalist id="browser">
                                    <option value="To Do">
                                    <option value="In Development">
                                    <option value="In Analysis">
                                    <option value="Done">
                                </datalist>
                            </div>
                            <div class="date-expired">
                                {{task.date_expired}}
                            </div>
                            <div class="edit-submit-btn">
                                <button id="sub-edit-button">Confirm Changes</button>
                            </div>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="register-wrapper">
        <div class="container">
            <form action="" method="POST" class="register-form">
                <p class="login-label">Register</p>
                <div class="input-group">
                    <input type="email" placeholder="Email" name="email" id="email">
                </div>
                <div class="input-group">
                    <input type="login" placeholder="Login" name="username" id="username">
                </div>
                <div class="input-group">
                    <input type="password" name="password1" id="password1" placeholder="password">
                </div>
                <div class="input-group">
                    <input type="password"  name="password2" id="password2" placeholder="confirm password">
                </div>
                <div class="input-group">
                    <button class="btn" type="submit">Register</button>
                </div>
                <a href="/login">Already have account? Login here!</a>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}