* {
  text-decoration: none;
  list-style: none;
}

body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* header styling */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #555;
  color: #04AA6D;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-starts;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* footer styling */
footer {
  background: #333;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: white; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  padding: 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: white;
}

.socials a i {
  font-size: 1.1rem;
  transition: color .4ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: black;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom spam {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

/* register form */
.register-wrapper {
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-wrapper .container {
  width: 400px;
  min-height: 400px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  padding: 40px 30px;
}

.register-wrapper .container .login-label {
  color: #111;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  text-transform: capitalize;
}

.register-wrapper .container .input-group {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}

.register-wrapper .container .input-group input {
  border: 2px solid #e7e7e7;
  width: 80%;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  outline: none;
  transition: .3s;
}

.register-wrapper .container .input-group input:focus {
  border-color: #a29bfe;
}

.register-wrapper .container .input-group .btn {
  display: block;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background: #a29bfe;
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  transition: .3s;
}

.register-wrapper .container .input-group .btn:hover {
  transform: translateY(-5px);
  background: #6c5ce7;
}

@media (max-width: 430px) {
  .register-wrapper .container {
    width: 300px;
  }
}

.register-wrapper .container a {
  text-decoration: none;
  color: blueviolet;
  font-size: 1.1rem;
}

.register-wrapper .container a:hover {
  color: #333;
}

/* messeger styling */
.alert {
  padding: 10px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 10px;
  border-radius: 5px;
}

.alert.success {background-color: #04AA6D;}
.alert.error {background-color: #cc0000;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* contetn styling */
.user-wrapper .sidebar-container {
  left: 0;
  width: auto;
  height: 100%;
  background: #333;
  opacity: .95;
  grid-area: sidebar;
  border-radius: 5px;
  min-width: 200px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "sidebar-header"
  "sidebar-content"
  "sidebar-footer";
}

.user-wrapper .sidebar-container .sidebar-header {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  line-height: 70px;
  background: #063146;
  opacity: 1;
  border-radius: 5px;
  user-select: none;
}


.user-wrapper .sidebar-container ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 5px;
  padding-right: 5px;
}

.user-wrapper .sidebar-container ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 50px;
  font-size: 1.2rem;
  color: white;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid black;
}

.user-wrapper .sidebar-container ul a:hover {
  color: #04AA6D;
  padding-left: 15px;
}

.user-wrapper .content-container .header .add-container {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-wrapper .content-container .header .add-container button {
  border: 2px solid #e7e7e7;
  font-size: 1.1rem;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  background: #333;
  color: white;
  cursor: pointer;
}

.user-wrapper .content-container .header .add-container button:hover {
  color: #04AA6D;
  padding-top: 5px;
}
.user-wrapper .content-container .header .popup {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #04AA6D;
  opacity: .9;
  width: auto;
  padding: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  border-radius: 5px;
  z-index: 2;
  display: none;
}

.user-wrapper .content-container .header .popup h2 {
  font-size: 2rem;
  color: white;
}

.user-wrapper .content-container .header .form-element {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-wrapper .content-container .header .form-element input {
  border-radius: 5px;
  font-size: 1rem;
  height: 100%;
  width: 95%;
}

.user-wrapper .content-container .header .form-element textarea {
  border-radius: 5px;
  font-size: 1rem;
  height: 100%;
  width: 95%;
}

.user-wrapper .content-container .header .popup label {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 1.1rem;
  cursor: pointer;
}

.user-wrapper .content-container .header .form-element button {
  border-radius: 5px;
  font-size: 1.3rem;
  height: 100%;
  width: 95%;
  background: black;
  color: white;
  cursor: pointer;
}

.user-wrapper .content-container .header .form-element button:hover {
  color: #04AA6D;
  padding-top: 5px;
}

.user-wrapper .content-container .header .search-container {
  background: #333;
  width: 100%;
  height: 100%;
}

.user-wrapper .content-container .header {
  width: 100%;
  height: 50px;
  background: #063146;
  opacity: 1;
  grid-area: content-header;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: grid;
  grid-template-columns: auto 1fr;
  border-bottom: 4px solid black;
}

.user-wrapper .content-container .tasks .edit-task-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #04AA6D;
  opacity: 1;
  width: auto;
  padding: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  border-radius: 5px;
  z-index: 2;
  display: none;
}

.user-wrapper .content-container .tasks .edit-task-container #edit-close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 1.1rem;
  cursor: pointer;
}

.user-wrapper .content-container .tasks .edit-task-container div {
  margin: 5px;
  padding: 5px;
  font-size: 1.1rem;
  border: 1px solid black;
}

.user-wrapper .content-container .tasks .edit-task-container .edit-submit-btn {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-wrapper .content-container .tasks .edit-task-container .edit-submit-btn button {
  border-radius: 5px;
  background: cornsilk;
  font-size: 1.3rem;
  cursor: pointer;
}

.user-wrapper .content-container .tasks .edit-task-container .edit-submit-btn button:hover {
  background: darkblue;
  color: white;
}


.user-wrapper .content-container .tasks .single-task-container {
  background: #a29bfe;
  opacity: 1;
  border-radius: 10%;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr auto 1fr 1fr;
  align-items: center;
  height: auto;
  width: auto;
  max-height: 400px;
  min-width: 300px;
  border: 3px solid black;
}


.user-wrapper .content-container .tasks .single-task-container .title {
  font-size: 1.3rem;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  padding: 5px;
  color:aqua; 
}

.user-wrapper .content-container .tasks .single-task-container .priority {
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  padding: 5px;
  color: #cc0000;
}

.user-wrapper .content-container .tasks .single-task-container .subject {
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  padding: 5px;
}

.user-wrapper .content-container .tasks .single-task-container .content {
  font-size: 1.1rem;
  border-bottom: 1px solid black;
  padding: 5px; 
}

.user-wrapper .content-container .tasks .single-task-container .date-expired {
  font-size: 1.1rem;
  border-bottom: 2px solid black;
  padding: 5px; 
}

.user-wrapper .content-container .tasks .single-task-container .edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-wrapper .content-container .tasks .single-task-container .edit-btn button {
  font-size: 1.3rem;
  border-radius: 5%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  cursor: pointer;
  background:#6c5ce7;
  color: black;
}

.user-wrapper .content-container .tasks .single-task-container .edit-btn button:hover {
  margin-top: 3px;
  color: white;
  background: yellowgreen;
}


.user-wrapper .content-container .tasks {
  width: 100%;
  height: 100%;
  background: rgba(3, 3, 3, .5);
  grid-area: tasks;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  overflow: auto; 
}

.user-wrapper .content-container {
  height: 100%;
  width: 100%;
  grid-area: content;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "content-header"
  "tasks";
}

.user-wrapper {
  height: 100vh;
  display: flex;
  gap: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* edit account styling */
.edit-user-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-user-wrapper .edit-user-container .header {
  grid-area: edit-user-header;
  
}

.edit-user-wrapper .edit-user-container .header h1 {
  color: #04AA6D;
}

.edit-user-wrapper .edit-user-container h3 {
  color: #04AA6D;
}

.edit-user-wrapper .edit-user-container .email {
  grid-area: edit-email;
}

.edit-user-wrapper .edit-user-container .email input {
  width: 90%;
}

.edit-user-wrapper .edit-user-container .login {
  grid-area: edit-login;
}

.edit-user-wrapper .edit-user-container .login input {
  width: 90%;
}

.edit-user-wrapper .edit-user-container .date-created {
  grid-area: edit-created;
}

.edit-user-wrapper .edit-user-container .date-used {
  grid-area: edit-active;
}

.edit-user-wrapper .edit-user-container .password {
  grid-area: change-password;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f44336;
}

.edit-user-wrapper .edit-user-container .confirm {
  grid-area: confirm;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.edit-user-wrapper .edit-user-container  button {
  font-size: 1.1rem;
  margin: 10px;
  border-radius: 5px;
  background-color: #cc0000;
  cursor: pointer;
  color: whitesmoke;
  padding: 5px;
}

.edit-user-wrapper .edit-user-container  button:hover {
  color: #04AA6D;
  margin-left: 15px;
}


.edit-user-wrapper .edit-user-container {
  background: rgba(54, 53, 53, 0.7);
  min-width: 600px;
  padding: 15px;
  position: absolute;
  top: 30%;
  border-radius: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "edit-user-header edit-user-header"
  "edit-email edit-login"
  "edit-created edit-active"
  "change-password change-password"
  "confirm confirm";
}