body {
    background-color: #08AEEA;
    background-image: linear-gradient(225deg, #08AEEA 0%, #2AF598 100%);
    margin: 0;
    padding: 0;
}

/* header styling */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 5px;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-starts;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* footer styling */
.footer {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex; 
    align-items: center;
    height: 25px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}


/* register styling */
.register-container {
    background-color: rgba(124, 57, 57, 0.0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.in-form-wrapper .h1 {
  grid-area: h1;
  display: flex;
  justify-content: center;
}

.in-form-wrapper .h1 h1 {
  color: white;
}

.in-form-wrapper .username {
  grid-area: username;
}

.in-form-wrapper .username input {
  border-radius: 5px;
  border: none;
  height: 20px;
}

.in-form-wrapper .email {
  grid-area: email;
}

.in-form-wrapper .email input {
  border-radius: 5px;
  border: none;
  height: 20px;
}

.in-form-wrapper .password1 {
  grid-area: password1;
}

.in-form-wrapper .password1 input {
  border-radius: 5px;
  border: none;
  height: 20px;
}

.in-form-wrapper .password2 {
  grid-area: password2;
}

.in-form-wrapper .password2 input {
  border-radius: 5px;
  border: none;
  height: 20px;
}

.in-form-wrapper .form-button {
  grid-area: form-button;
  display: flex;
  justify-content: center;
}

.in-form-wrapper .form-button button {
  background-color: blanchedalmond;
  border-radius: 5px;
  font-size: 25px;
  border: none;
  margin-bottom: 5px;
}

.in-form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    grid-template-areas: 
    "h1 h1"
    "username email"
    "password1 password2"
    "form-button form-button";
}

/*-----*/

.content {
    background-color: rgba(0, 0, 0, 0.5);
    grid-area: content;
    border-radius: 5px;
}

.sidebar {
    background-color: yellow;
    grid-area: sidebar;
}

.main-container {
    background-color: blue;
    grid-area: main-container;
}

.content-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "sidebar main-container";
    height: 100%;
    gap: 5px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    grid-template-areas: 
    "content";
    gap: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}